.posts {
  min-width : 200px;
  width : 65%;
  float : left;
}

.ToDoDiv {
  padding-left : 5%;
  width : 30%;
  min-width : 200px;
  float : left;
}

.posts>ul>li>a {
  font-size : 16px;
  font-family: 'Oxygen', 黑体;
}

.readMore {
  font-size : 14px;
  color : rgb(92,92,92);
}

.readMore:hover {
  color : rgb(255,255,255);
}

.breadcrumb li {
  display : list-item;
}

.tag_box {
  font-family : 'Oxygen', 黑体;
}
